.sidebar{
    position: relative;
    &__basic{
        width: 100%;
        display: flex;
        }
        &__right{
            position: fixed;
            width: 70%;
            height:100vh;
            right: 0;
            top:0;
            background-color: rgba(0,0,0,.5);
            z-index: 1;
            font-style: transparent;
            
        }
        &__hero{
            position: fixed;
        width: 30%;
        height: 100vh;
        top:0;
        z-index: 100;
        left: 0;
        background-color: #fff;
        padding: 30px; 
        }
    &__one{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--title{
            font-weight: bold;
            font-size: 35px;
        }
    }
    &__two{
        position: relative;
        &--input{
            width: 88%;
        }
        &--icon{
            position: absolute;
            top: 10px;
            right: 0;
            border: 1px solid black;
            border-radius: 0 8px 8px 0;
            padding: 13px 18px;
            background-color: #000;
            color: #fff;
        }
    }
    &__three{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--btn{
            width: 100%;
            border: none;
            text-align: start;
            font-size: 20px;
        }
    }
}
.active{
    background-color: #000;
    border-radius: 15px;
    color: #fff;
}
.inactive{
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}
