.header{
    max-width: 100%;
    box-shadow: 0 10px 36px rgb(0 0 0/5%);
    &__nav{
        display: flex;
        align-items: center;
    }
    &__toggle{
        margin-right: auto;
        position: relative;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        z-index: 1;
    }
    &__circle{
        position: absolute;
        top: 33%;
        left: 22%;
        text-align: start !important;
        border-radius: 50%;
        &--span{
            display: block;
            width: 25px;
            height: 2px;
            background-color: rgb(50, 50, 50);
            border-radius: 15px;
        }
        &--span1{
            display: block;
            width: 15px;
            margin: 5px 0;
            height: 2px;
            background-color: rgb(50, 50, 50);
            border-radius: 15px;
        }
    }
    &__logo{
        margin: auto;
        text-align: center;
        &--logo{
            font-weight: bold;
            font-size: 50px;
            color: #000;
        }
        &--words{
            font-size: 20px;
            color: gray;
            margin-top: -40px;
        }
    }
    &__buttons{
        margin-left: auto;
        &--register{
            padding: 10px 20px;
            border: 1px solid black;
            font-weight: bold;
            font-size: 15px;
            border-radius: 10px;
            background-color: #000;
            color: #fff;
            margin-right: 10px;
            &:hover{
                background-color: #fff;
                color: #000;
                transition: 0.3s;
            }
        }
        &--btn{
            color: #000;
            font-size: 20px;
            border-radius: 50%;
            border: 2px solid none;
            &:hover{
                color: #fff;
            }
            &--login{
                border-radius: 50%;
            }
        }
    }
}
.hide{
    transform: translate(-100%);
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
@media screen and (max-width: 992px) {
    .container{
        max-width: 960px;
    }
}
 @media screen and (max-width: 768px) {
     .container{
         max-width: 720px;
}
}
@media screen and (max-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media screen and (max-width:360px) {
    .container{
        max-width: 330px;
    }
}

